<div class='row calendar-navigation'>
    <div class='col-md-4'>
        <button type="button" class="btn btn-default btn-lg" ng-click='prev()'>
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button type='button' class='btn btn-default btn-lg' ng-click='today()'>Today</button>
        <button type="button" class="btn btn-default btn-lg" ng-click='next()'>
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
    <div class='col-md-8 current-date'>
        Current: {{monthSelected | date : 'MMMM yyyy' }}
    </div>
</div>
<div ui-calendar='calendar_config' ng-model='eventSources' calendar='myCalendar'></div>
