<div class='row'>
    <div class='col-sm-2 col-sm-offset-2'>
        Belay
    </div>
    <div class="col-sm-8">
        <div class="btn-group">
            <input type='radio' ng-model='climbing.belay' value='lead-climbing' />Lead-climbing<br/>
            <input type='radio' ng-model='climbing.belay' value='top-roping' />Top-roping<br/>
            <input type='radio' ng-model='climbing.belay' value='bouldering' />Bouldering<br/>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-sm-2 col-sm-offset-2'>
        Attempts
    </div>
    <div class='col-sm-8'>
        <climbing-attempts attempts='climbing.attempts'/>
    </div>
</div>
